<form id="photo_form">
<label for="photo_url">URL</label>
<input type="text" id="photo_url" name="photo[url]">
<label for="photo_title">Title</label>
<input type="text" id="photo_title" name="photo[title]">
<input type="submit" value="add photo" id="photo_submit">
</form>
